body {
    background: #222;
}

div {
    height: 100px;
    width: 100px;
    background: red;
    animation-name: square;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes square{
    0% {

        translate: 0 0;
        background: aqua;
        rotate: 0deg;
    }
    
    25%{
        translate: 0 500px;
        background: yellow;
        rotate: 90deg;

    }

    50%{
        translate: 400px 500px;
        background: green;
        rotate: 180deg;
    }
    75%{
        translate: 400px 0;
        background: blue;
        rotate: 270deg;
    }    
    100%{
        translate: 0 0;
        background: #000;
        rotate: 360deg;

    }


}
